body {
  text-align: center;
  background-color: #00bfff;
  font-family: serif;
  color: black;
}

img {
  width: 800px;
  height: auto;
  border: solid 1px;
}
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: #ff3333;
    background-color: black;
    clear: left;
    text-align: center;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    font-family: serif;
    font-weight: bold;

}

ul,ol {
  list-style-position: inside;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 3px solid gray;
    padding: 1em;
    overflow: hidden;
}
